@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize','https://fonts.googleapis.com/icon?family=Material+Icons';
